jdc==0.0.9 
numpy==1.16.4
pandas==0.24.2
pillow<7
scikit-image==0.15.0
scikit-learn==0.21.2
scipy==1.3.0
seaborn==0.9.0
opencv-python==4.1.1.26
# direct links for torch 1.1.0 and torchvision 0.3.0 to force CUDA10.0
https://download.pytorch.org/whl/cu100/torch-1.1.0-cp37-cp37m-linux_x86_64.whl
https://download.pytorch.org/whl/cu100/torchvision-0.3.0-cp37-cp37m-linux_x86_64.whl
tqdm==4.38.0
